@(tasks: List[Task])
<!DOCTYPE html>
<html>
    <head>
        <title>Tasks of This User: </title>
    </head>
    <body>

        <h1>Available Tasks of this User:</h1>
        <table border="3" style="width:50%; align-content: center; text-align: center">
            <tr>
                <th id="user_id">Id</th>
                <th>Owner Id</th>
                <th>Description</th>
                <th>Created At</th>
                <th></th>
            </tr>
            @for(task <- tasks) {
                <tr>
                    <td>@task.getId</td>
                    <td>@task.getOwnerId</td>
                    <td>@task.getDescription</td>
                    <td>@task.getCreatedAt</td>
                </tr>
            }
        </table>
        <div style="padding-top: 40px; align-items: flex-start ">
            <form style="padding-bottom: 20px">
                <label for="user_id" style="padding-bottom: 5px">To Delete Task's Id:</label><br>
                <input type="number" id="user_id" name="user_id"><br>
            </form>
            <a href=""><button>Delete Task</button></a>
        </div>

        <div style="padding-top: 50px; align-items: flex-start ">
            <a href="http://localhost:9000/users/create"><button>Create New Task</button></a>

            <a href="http://localhost:9000/users/edit" style="padding-left: 100px"><button>Edit Task</button></a>
        </div>
        <div style="padding-top: 50px">
            <a href="http://localhost:9000/users"><button>Go Back</button></a>
        </div>
    </body>
</html>