<!DOCTYPE html>
<html>
    <head>
        <title>Create User</title>
    </head>
    <body>
        <h1>Create New User:</h1>
        <form>
            <label for="full_name">Full name:</label><br>
            <input type="text" id="full_name" name="full_name"><br>
            <label for="user_name">Username:</label><br>
            <input type="text" id="user_name" name="user_name"><br>
            <label for="password">Password:</label><br>
            <input type="text" id="password" name="password"><br>
            <input type="submit" value="Submit" style="margin-top: 30px">
        </form>
    </body>
</html>