@(users: List[User])
<!DOCTYPE html>
<html>
    <head>
        <title>Available Users in System: </title>
    </head>
    <body>
        @for(user <- users) {
                <a href="#">All Users</a>
                <p>ID: @user.getId</p>
                <p>Name: @user.getFullName</p>
                <p>User Name: @user.getUserName</p>
                <p>Email: @user.getEmail</p>
                <p>Created At: @user.getCreatedAt</p>
                <p><button>DELETE</button></p>
                <p><button>View Tasks</button></p>
        }
    </body>
</html>